<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="navbar-header">
        <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
        <a class="navbar-brand">
          <img src="assets/images/logo.png" alt="" />
          <span class="logo-name">Smartcheck</span>
        </a>
      </div>
    </div>
  </div>
</nav>
