<section class="content" style="margin-top: 60px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">Home</a></li>
                        <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Server</a></li>
                        <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">Application</a></li>
                        <button mat-raised-button class="move-to-right smartlinkbutton">Check Health Status</button>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <app-home></app-home>        
                        </div>
                        <div class="tab-pane fontawesome-demo" id="tab2">
                            <app-servers></app-servers>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <app-applications></app-applications>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</section>
